.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  max-width: 1080px;
  text-align: center;
  margin-top: 40px;
  padding: 5px 8px;
}

div.center {
  margin: 0 auto;
  max-width: 1080px;
  text-align: left;
  padding-bottom: 100px;
}

table.noticeTable {
  border-radius: 15px;
  width: 1080px;
}

table.noticeTable th, table.noticeTable td {
  overflow: hidden; 
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break:break-all;
  width: 1080px;
  text-align: center;
  width: 15px;
  padding-bottom: 10px;
}

table.noticeTable tbody tr {
  width: 1080px;
  overflow: hidden; 
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break:break-all;
  cursor: pointer;
}

table.noticeTable tr td:nth-child(1) {
  width: 10%;
}

table.noticeTable tr td:nth-child(2) {
  width: 60%;
}

table.noticeTable tr td:nth-child(3) {
  width: 15%;
}

table.noticeTable tr td:nth-child(4) {
  width: 15%;
}

div.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

div.top button {
  font-size: medium;
}

input.input {
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
}

section.section textarea {
  margin: 10px;
  width: 60%;
  height: 200px;
}

section.section {
  width: 100%;
}