.main {
  max-width: 1080px;
  text-align: center;
  margin-top: 40px;
  padding: 5px 8px;
}

div.center {
  margin: 0 auto;
  max-width: 1080px;
  text-align: left;
  padding-bottom: 100px;
}

div.row {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

div.items {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  place-items: stretch start;
  justify-content: space-around;
  gap: 10px;
  -webkit-box-align: stretch;
}

div.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 30px;
  min-height: 280px;
  width: 100%;
  background-color: #e3e5ef;
  border-radius: 20px;
  border: #e3e5ef solid 1px;
  gap: 10px;
}

div.item .itemImage {
  width: 50px;
  height: 50px;
}

div.item p {
  flex: 1 0 0px;
  margin-bottom: 16px;
}

div.flex {
  display: flex;
  flex-direction: row;
  gap: 5px;
  vertical-align: middle;
}