main.main {
  max-width: 1080px;
  text-align: left;
  height: 100vh;
  padding: 70px 30px;
  margin-bottom: 10vh;
}

div.center {
  margin: 0 auto;
  max-width: 1080px;
  text-align: left;
}

div.title p {
  font-weight: 700;
}

div.title {
  height: fit-content;
  border-left: 4px solid var(--blue);
  padding-left: 10px;
  margin-bottom: 30px;
}

div.sectionTitle {
  height: fit-content;
  border-left: 4px solid var(--blue);
  padding-left: 10px;
}

section.meal h1, section.schedule h1 {
  font-size: 1.5em;
}

section.meal {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 20px;
}

div.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 80px;
}

section.schedule {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 20px;
}

table.schedule {
  background-color: var(--bg-color);
  border-radius: 30px;
  padding: 15px;
  color: var(--txt-color);
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
  border: 1px solid #e3e5ef;
  /* border-spacing: 10px; */
}

th.schedule, td.schedule {
  width: 15px;
  padding: 15px;
}

th.schedule {
  text-align: left;
}

section.content {
  display: grid;
  width: 100%;
  height: 500px;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 6fr 4fr;
  gap: 20px;
  margin-bottom: 200px;
}

p.blue {
  color: var(--blue);
}

div.card:nth-child(1) {
  grid-column: 1 / 3;
	grid-row: 1 / 2;
}

div.card {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
  border-radius: 30px;
  padding: 25px;
  color: var(--txt-color);
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
  border: 1px solid #e3e5ef;
  gap: 5px;
}

div.mealDiv {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

div.mealCard {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
  border-radius: 30px;
  width: 100%;
  padding: 20px 20px;
  color: var(--txt-color);
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
  border: 1px solid #e3e5ef;
  gap: 5px;
}

section.schedule {
  margin-bottom: 100vh;
}

div.card:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

span.money {
  font-size: 7rem;
  line-height: 6rem;
  /* text-decoration-line: underline;
  text-decoration-color: var(--blue);
  text-decoration-thickness: 3px;
  text-underline-position : under; */
}

h1.moneyTitle {
  font-size: 2rem;
}

div.notice {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  border-radius: 30px;
  background-color: #e3e5ef;
  margin-bottom: 70px;
  padding: 10px;
  color: var(--txt-color);
  gap: 5px;
  font-size: 1.2rem;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  span.money {
    font-size: 5rem;
    line-height: 4rem;
  }

  section.content {
    display: flex;
    flex-direction: column;
  }

  div.card {
    box-shadow: none;
    background-color: #e3e5ef;
  }

  div.card:nth-child(2), div.card:nth-child(3) {
    border-radius: 30px;
    background-color: transparent;
  }

  div.flex {
    display: flex;
    flex-direction: column;
    gap: 10vh;
  }

  div.mealCard {
    width: 100%;
  }

  section.meal, section.schedule {
    width: 100%;
  }
}