main.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1080px;
  text-align: left;
  height: 100vh;
  padding: 100px 100px 100px 100px;
  gap: 20px;
}

div.center {
  margin: 0 auto;
  max-width: 1080px;
  text-align: left;
}

/* form.login {
  display: flex;
  flex-direction: column;
} */